
.data {
  width: 1050px;
  height: 450px;
  position: absolute;
  left: 0px; 
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  overflow: none;
}

#data-title {
  text-align: center;
  height: 10%;
  padding-top: 1%;
}

#data-plot {
  width: 100%;
  height: 90%;
  float: right;
  overflow: none;
}
